<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DiscoverWay</title>
  <link rel="stylesheet" href="../view/Blog.css"/>
</head>
<body>
  <header>
   <!-- <div class="main">
      <ul>
        <li class="active"><a href="Acceuil.html"><i class="fa fa-home"></i>Accueil</a></li>
        <li><a href="voyage.html".html">Khadamni</a></li> 
        <li><a href="Blog.html">Blog</a></li>
        <li><a href="#">Sponsoring</a></li>
        <li><a href="#"><i class="fa fa-caret-down"></i> Plus ... <i class="fa fa-caret-down"></i></a>
          <div class="sub-menu">
            <ul>	 
              <li><a href="#">Questionnaire</a></li>
              <li><a href="#">Réclamation</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>-->
    <section class="home">
      <h2>Blog</h2>
      <h4>Découvrez tous nos articles</h4>
      <p>Vous pouvez trouver nos articles les plus pertinents sur cette page</p>
    </section>
  </header>

  <div class="find_trip">
  </div>
  <section class="tour">
    <div class="center-text">
        <br><br><br>
        <h2>Posts les plus pertinents</h2>
    </div>
    <div class="tour-content">
        <div class="box">
            <img src="../view/imagesun1/b1.jpg">
            <h4>Soigner, étudier, sensibiliser… le travail des centres de conservation</h4>
            <h6>Dans le domaine de la protection du sauvage, que ce soit en Afrique ou sur le continent asiatique ...</h6>
        </div>
        <div class="box">
            <img src="../Images/AnimalDisparu.jpg">
            <h4>Espèces sauvages singulières, des merveilles à protéger !</h4>
            <h6>Certaines espèces sauvages ont plus la cote que d’autres… Plus faciles à voir, plus photographiées o...</h6>
        </div>
        <div class="box">
            <img src="../Images/Tanzanie.jpg">
            <h4>10 bonnes raisons de partir en Tanzanie tout de suite !</h4>
            <h6>Présente depuis près de 30 ans en Afrique de l’Est et particulièrement en Tanzanie, notre agence a dév...</h6>
        </div>
        <div class="center-btn">
            <a href="AddPost.php" class="btn">add your blog</a>
        </div>
        <div class="center-btn">
          <a href="Blog.php" class="btn">add your Comment</a>
      </div>
      <div class="center-btn">
        <a href="ListePosts.php" class="btn">ListePosts</a>
    </div>
    </div>
  </section>
</body>
</html>