<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ludiflex | Login & Register</title>
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- STYLE -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>


<div class="form-container">
    <div class="col col-1">
        <div class="image-layer">
            
            
            <img src="assets\img\about-left-image.png" class="form-image-main">
            
            <img src="assets/img/cloud.png" class="form-image cloud">
            <img src="assets/img/stars.png" class="form-image stars">
        </div>

        <p class="featured-words">Bienvenue sur <span>   Khademni</span></p>
    </div>

    <div class="col col-2">
        <div class="btn-box">
            <button class="btn btn-1"><a href="formulaire.html">Offre</a></button>
            
            
        </div>
        <div class="login-form">
            <div class="form-title">
                <span>Ajouter le nouveau domaine</span>
            </div>
            
            <div class="form-inputs">
                <div class="input-box">
                    <input type="hidden" class="input-field" placeholder="Id_domaine" required>
                </div>
            </div>
            <div class="form-inputs">
                <div class="input-box">
                    <select class="input-field" required>
                        <option value="" disabled selected hidden> Domaine informatique</option>
                        <option value="web">Développement Web</option>
                        <option value="mobile">Développement Mobile</option>
                        <option value="data">Science des Données</option>
                        <option value="security">Sécurité Informatique</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            
            </div>
        </div>
    </div>
</div>