<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Multi Step Form | CodingNepal</title>
  <link rel="stylesheet" href="user-profile-page-template-in-html-css\css\style.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="Multi steps form\style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/templatemo-space-dynamic.css">
  <link rel="stylesheet" href="assets/css/animated.css">
  <link rel="stylesheet" href="assets/css/owl.css">  

  <style>
    #form-submit {
      display: block;
      margin: 0 auto;
      font-size: 1.2em;
    }
  </style>
</head>
<body>

<!-- Header -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="user-profile-page-template-in-html-css\index.html" class="logo">
                        <h4>kha<span>damni</span></h4>
                    </a>
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#about">Offres&Demandes</a></li>
                        <li class="scroll-to-section"><a href="#services">Entretien</a></li>
                        <li class="scroll-to-section"><a href="#portfolio">Evenement</a></li>
                        <li class="scroll-to-section"><a href="#blog">Blog</a></li>
                        <li class="scroll-to-section"><a href="#contact">Réclamation</a></li>
                        <li class="scroll-to-section"><div class="main-red-button"><a href="#contact">Contact Now</a></div></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</head>
<body>
    <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">

              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="Catégorie" id="Catégorie"  placeholder="Catégorie" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="Explication" type="text" class="form-control" id="Explication" placeholder="Explication" required=""></textarea>  
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-button ">Ajouter</button>
                </fieldset>
              </div>
            </div>
            <div class="col-lg-12">
                
              <a href="reclam.html" target="_blank" class="main-button">voir details</a>
            
          </div>
            <div class="contact-dec">
              <img src="assets/images/contact-decoration.png" alt="">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>





