<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="forget.css">

</head>
<body>
    <form class="forgot-password">
      
        <div class="header">
          <span class="title">Mot de passe oublié</span>
        </div>
        <div class="fa">
          <div class="reset-option">
            <input value="email" id="email" name="option" type="radio" checked="">
            <label for="email">
              <div class="reset-info">
                <span class="reset-title"> Par e-mail</span>
              </div>
            </label>
          </div>
          <div class="reset-option">
            <input value="sms" id="sms" name="option" type="radio">
            <label for="sms">
              <div class="reset-info">
                <span class="reset-title">Par SMS</span>
              </div>
            </label>
          </div>
          <a href="#" title="" class="send-btn">Envoyer</a>
          <p class="sub-title">Pas de reçu de lien? <span class="resend">Renvoyer<span></span></span></p>
      </div>
      </form>
</body>
</html>