<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Animated Login & Registration Form | Codehal</title>
        <link rel="stylesheet" type="text/css" href="style.css">
      </head>
<body>
    <div class="wrapper">
        <div class="form-wrapper sign-up">
            <form id="signUpForm" action="">
            <h2>Sign Up</h2>
            <div class="input-group">
                <input type="text" required>
                <label for="">Nom d’utilisateur</label>
            </div>
            <div class="input-group">
                <input type="tel" required>
                <label for="">Telephone</label>
            </div>
            <div class="input-group">
                <input type="date" required>
                <label for=""></label>
            </div>
            <div class="input-group">
                <input type="email" required>
                <label for="">Email</label>
            </div>
            <div class="input-group">
                <input type="password" required>
                <label for="">Mot de Passe</label>
            </div>
            <div class="wraer">
                <div class="option">
                    <input checked="" value="option1" name="btn" type="radio" class="input">
                    <div class="btnn">
                    <span class="span">etudiant</span>
                    </div>
                </div>
                <div class="option">
                    <input value="option2" name="btn" type="radio" class="input">
                    <div class="btnn">
                    <span class="span">recruteur</span>
                    </div>  </div>
                <div class="option">
                    <input value="option3" name="btn" type="radio" class="input">
                    <div class="btnn">
                    <span class="span">admin</span>
                    </div>  
                </div>
                </div>
            <br> 
            <button type="submit">Sign Up</button>
            <div class="signUp-link">
                <p>Vous avez déjà un compte? <a href="Untitled-1.html"  class="signInBtn-link">Sign In</a></p>
            </div>
            </form>
        </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>