<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login & Registration</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="wrapper">
    <div class="form-wrapper sign-in">
      <form action="">
        <h1>Login</h1>
        <div class="input-group">
            <input type="email" required>
            <label for="">Email</label>
          </div>
        <div class="input-group">
          <input type="password" required>
          <label for="">Mot de passe</label>
        </div>
        <a href="forget.html" class="forgot-password">Mot de passe oublié?</a>

        <button type="submit">Login</button>
        <div class="signUp-link">
          <p>Vous n’avez pas de compte? <a href="signup.html" class="signUpBtn-link">Sign Up</a></p>
        </div>
        
      </form>
    </div>
  </body>
</html>